thead { 
    color: green; 
    cursor: default;        /* make the cursor like hovering over an <a> element */
    -moz-user-select: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
}
tbody { color: blue; 
    -moz-user-select: all;
    -webkit-user-select: all;
    -khtml-user-select: all;

}

a:link {text-decoration: none; 
}
a:visited {color: #880000; }
a:active {color: red; }
a:hover {text-decoration: underline; color: red;}

p#glcanvas_status {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight:bold;
}

canvas#glcanvas {
    position: absolute;
    background:url(graphics/earth.jpg);
    background-size:100% 100%;
    display: none;
}

body:before, body:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
    background-color: #696969;
}
body:after {
    bottom: 0;
    background-color: #696969;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    background-color: #111111;
    font-family: Verdana, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

div#banner{
    width:25%;
    float:left;
    text-align:center;
    margin-top:2%;
    color: #FF0000;
    line-height:200%;
    background: url(graphics/banner.gif) repeat-y;
    background-size: 100%;

}

div.wrap {
    width:100%;
    height:100%;
    border: 10px inset #666666;
}

div#wrap_all {
    background: url(graphics/banner.gif) repeat-y;
    background-size: 25%;
    background-color: #23180d;
}

div.main {
    float:right;
    width:75%;
    text-align: justify;
    background-color: #aaaaaa;
    color: #111144;
    font-size: 23px;
    text-align: center; 
}
 
div.title { 
    position: relative;
    width:90%;
    margin: 17px 17px;
}

div#stadium_params {
    font-family: Helvetica, sans-serif;
    font-variant: small-caps;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

input.stadium_input {
    float:right; 
    width:60%;  
    font-family: Impact, fantasy;
    font-variant: small-caps;
}

input.start_button {
    width:100%;
    background-color: transparent; /* make the button transparent */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    vertical-align: middle; /* align the text vertically centered */
    font-size: inherit;
    text-align: inherit;
    color: inherit;
}

input.start_button:hover {
    color: #6677CC;
}
/*
div.main:before, div.main:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 10px;
}
div.main:before {
    top: 0;
    background-color: #696969;
}
div.main:after {
    bottom: 0;
    background-color: #696969;
}
*/

div#header {
    width: 100%;
    height: 120px; 
    border-width: 2px;
    border-bottom-style: solid;
    border-color: #333333;
    margin-bottom: 0px;
    background: url('graphics/panorama.jpg') no-repeat;
    background-size: 105% 300%;
    color: #123123; 
    padding: 6px 0px;
    text-align:right;
    line-height:1px;
}

div#footer {
    clear:both;
    width: 100%;
    border-width: 2px;
    border-top-style: solid;
    border-color: #333333;
    background: url('graphics/panorama.jpg') no-repeat;
    background-size: 105% 800%;
    color: #123123; 
    height: 21px;
    text-align:right;
    margin: 0px;
    background-color: #000000;
}


div.one_third{
    height:85%;
    width:33%;
    float:left;
    text-align:center;
    line-height:200%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
